header.sticky{


	line-height:50px;
	@include stickyHeader(50px);

	.container.transition{

		position: relative;
		@include vendorPrefix(transition,'all,ease,0.5s');
	}

	.container.stretch{

		max-width: 100%;
	}

	.container.main{
		z-index: 999;
	}

	#logo{

		img{

			margin-top: 16px;
		}
		
		position: absolute;
	}

	button{
		
		margin-top: 5px;
	}

	nav{

		margin-right:20px;
		padding-left:20px;
		float: left;
		@include vendorPrefix(transition,'all,ease,0.5s');

		&.shift{

			margin-left: 62px;
		}

		a {

			display: block;
			padding: 0 10px;

			@include breakPoint(800px){
				padding: 0 10px!important;
				span{
					display: none;
				}
			}
		}

		li{

			display: inline-block;

			&.active{

				@include vendorPrefix(box-shadow,inset 0 -5px 0 $col-pastel-red);
			}
		}
	}

	

	#version{

		line-height: 50px;
		color: #e9e9e9;
		@include fontSize(14);

	}

	.font20{
		
		position: relative;
  		top: 3px;
		@include fontSize(20);
	}

	.line-icon-menu{

		display: none;
	}

	@include breakPoint(750px){

		#version, #search-docs{
			display: none;
		}

		.line-icon-menu{
			display: block;
			float: right;
			margin-top:10px;
		}

	}

	#theme-switcher{
		
		padding-top:10px;
		float: right;

		@include breakPoint(650px){

			display: none;
		}
	}
}
