<header class="sticky slide-in-down">
	
	<div class="container transition main {% if template == 'documentation' %}stretch{% endif %}">

		{% if template != 'index' %}
		<div id="logo" class="slide-in-right">
			<a href="/">
				<img src="/img/spice-logo.svg" width="55" />
			</a>
		</div>
		{% endif %}

		<nav class="horizontal main {% if template != 'index' %}shift{% endif %}">

			<ul>
				<li class="slide-in-down">
					<a href="/documentation"><i class="line-icon-paper font20"></i> <span>Documentation</span></a>
				</li>
			</ul>

		</nav>

		{% if template == 'documentation' %}
			<i class="line-icon-menu font20" ng-click="toggleDocs()"></i>

			<div class="lined" id="search-docs"></div>
		{% endif %}

		<div id="theme-switcher">
			
		</div>

	</div>

</header>