@import "../node_modules/spice-sass/src/spice";

@import "../../../components/header/header";

header.sticky{

	background-color:#111213;

    $linkcols : (
        'link'    : #ddd,
        'visited' : #ddd,
        'hover'   : #ffffff,
        'active'  : #1b8898
    );

    @include linkColours($linkcols); 
}

$headerHeight : 50px;
$bgColour     : #e9e9e9;

@include normalise;
@include headerSizes(40,20);
@include containerClass(2500px);
@include googleFont('leckerli-one',h1,300);
@include googleFont('source-sans',body textarea button,100);
@include formLined(4px,5px 20px,16);
@include formsTheme(white,darken($col-alizarin,15%),$col-pastel-red);
@include masonryColumns;


header.banner{

	background:$col-alizarin;
	padding:70px 0 30px 0;
	@include vendorPrefix(box-shadow,0 0 10px rgba(0,0,0,0.3));

	h1{
		
		text-align: center;
		line-height: $headerHeight;
		margin-bottom: 0;
		color:white;
		@include fontSize(50px);
	}

	p{

		text-align: center;
		margin-left: 10px;
		line-height: $headerHeight;
		color: lighten($col-alizarin,35%);
		@include fontSize(16);
	}

	form{

		margin-top:7px;
		max-width: 300px;
		margin: 0 auto;
	}
}

#example-body{
	@include fitContainer(50px 0 0 0);
}

#main{

	background:$bgColour;
	min-height:100vh;
	padding:50px 0;

	.masonry-item{

		background:white;
		@include vendorPrefix(box-shadow,0 3px 5px rgba(0,0,0,0.3));

		h3{
			padding:10px;
			margin-bottom: 0;
			border-bottom: 1px solid #eee;
			font-weight: 600;
			@include fontSize(18);
		}

		p{

			padding:10px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 0;
			@include fontSize(14);
		}
	}
}

.social{

	li{

		display: inline-block;
		line-height: 28px;
		padding: 0 0 0 10px;
		@include fontSize(16);

		i{
			margin-right: 3px;
			@include fontSize(12);
		}

		&:hover{
			color:$col-pastel-red;
		}
	}
}

@include lineIcons;
