@import "../node_modules/spice-sass/src/spice";
@import "../../../components/header/header";

header.sticky{

	background-color:#111113;

    $linkcols : (
        'link'    : #ddd,
        'visited' : #ddd,
        'hover'   : #ffffff,
        'active'  : #1b8898
    );

    @include linkColours($linkcols); 
}

#example-body{
	@include fitContainer(50px 0 0 0);
}

/// Example start --- 

$idebarWidth : 220px;

@include normalise;
@include containerClass(1100px);
@include googleFont('satisfy',h1);
@include googleFont('roboto-slab',h2 h3 h4 h5 h6);
@include googleFont('roboto',body textarea button);
@include lineIcons;

#sidebar{

	$sidebarColour : $col-midnight-blue;
	
	background-color:$sidebarColour;
	padding:20px;
	@include scrollbar($sidebarColour);
	@include sideBar($idebarWidth);

	h1{

		color:white;
		margin-bottom: 5px;
		@include fontSize(30px);
	}

	h2{
		
		color: contrast($sidebarColour,45%);
		@include fontSize(12px);
	}
}

#messages{

	$headerHeight : 50px;
	$messagesColour : $col-clouds;
	$headings : $col-midnight-blue;
	$text     : $col-wet-asphalt;
	
	padding:20px;
	background-color:$messagesColour;
	
	@include sideBarAppend($idebarWidth);

	h3{
		
		color:$headings;
		line-height:$headerHeight; 
		@include fontSize(22px);
	}

	#top-bar{

		padding:0 20px;
		height:$headerHeight;
		@include fitContainer(0 0 auto 0);
	}

	#message-list{

		@include scrollbar($messagesColour);
		@include fitContainer($headerHeight 0 0 0);
	}
}