{% extends '../../../layouts/demo.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/views/examples/cinnamon/cinnamon.css">
{% endblock %}
{% block title %}
	<title>{{siteTitle}} | Saffron </title>
{% endblock %} 

{% block content %}


<section id="main">

derp

</section>

{% endblock %}