#main-footer{

	background-color: #111;
	padding:30px 0;

	p{

		color: darken($col-silver,15%);
		@include fontSize(14px);
	}

	$footerlinks : (
		'link'    : $col-clouds,
		'visited' : $col-clouds,
		'hover'   : $col-alizarin,
		'active'  : $col-alizarin
	);

	@include linkColours($footerlinks);
}