<footer id="main-footer">
	
	<div class="container">
		
		<div class="grid-row">

			<p class="align-left">Designed and built by Dan Osborne. Code licensed under <a href="https://github.com/spice-sass/spice/blob/master/MIT-LICENSE.txt">MIT</a></p>
			<p class="align-right"><a href="https://github.com/spice-sass/spice">View on Github</a></p>

		</div>
		
	</div>

</footer>