@import "../../node_modules/spice-sass/src/spice";


$type         : "light";
$themeColour  : #1E2227;
$textColour   : darken($col-clouds,25%);
$headerColour : #D7E5E8;
$lighter      : lighten($themeColour,5%);
$mixin-header : $col-pastel-red;

$linkcols : (
    'link'    : #191B1D,
    'visited' : $col-midnight-blue,
    'hover'   : $col-belize-hole,
    'active'  : $col-river-blue
);

@include switch('theme', $col-midnight-blue,$col-midnight-blue,80px,14px);

@include normalise;
@include headerSizes(45,20);

@include gradientButton('grad-primary',$col-orange);
@include gradientButton('grad-secondary',$col-pomegranate);
@include gradientButton('grad-info',$col-belize-hole);
@include gradientButton('grad-warning',$col-pumpkin);
@include gradientButton('grad-danger',$col-pomegranate);
@include gradientButton('grad-submit',$col-nephritis);

@include flatButton('flat-primary',$col-orange);
@include flatButton('flat-secondary',$col-pomegranate);
@include flatButton('flat-info',$col-belize-hole);
@include flatButton('flat-warning',$col-pumpkin);
@include flatButton('flat-danger',$col-pomegranate);
@include flatButton('flat-submit',$col-nephritis);

body{
	
    line-height: 150%;
    background-color : $themeColour;
	@include fontSize(18);

    p{
        color: $textColour;
    }
}

#main-logo{

    path{

        &.light-red{
            fill:#BE2126;
        }

        &.dark-red{
            fill:#942322;
        }

        &.highlight{
            fill:#F2B6B9;
        }

        &.light-green{
            fill:#6CAA43;
        }

        &.dark-green{
            fill:#507C39;
        }

        &.text{
            fill:$col-carrot;
        }
    }
}


@include googleFont('source-sans',body textarea input button);
@include googleFont('roboto-slab', h1 h2 h3 h4 h5 h6);

h1,h2,h3,h4,h5,h6{

    color:$headerColour;
}

#sidebar{

    $sidebar : #191B1D;
    background-color:$sidebar;

    a{
        color: darken($col-clouds,25%);

        &:hover{
            color: white;
            background-color:contrast($sidebar,3%);
        }

        &.active{

            color:$mixin-header;
            @include vendorPrefix(box-shadow, inset 5px 0 0 $mixin-header)
        }
    }

    @include scrollbar($sidebar);
}

#docs{

    $themeColour : darken($col-clouds,8%);

    background-color:$themeColour;
    
    
    @include linkColours($linkcols);
    @include scrollbar($themeColour);

    h2{
        color: $mixin-header;
    }

    h1,h3,h4,h5,h6{

        color:#222;
    }

    p{
        color: #666;
    }

    hr{

        display: block;
        margin: 20px 20px 40px 20px;
        height:0;
        border-left:none;
        border-right:none;
        border-top: 1px solid darken($themeColour,20%);
        border-bottom: 1px solid lighten($themeColour,20%);
        opacity: 0.3;
    }

    .mixin-links{

        @include clearFix;

        li{

            @include gridColumns(4);
            &:nth-child(3n + 3){
                margin-right: 0;
            }

            a{

                display: block;
                padding:5px 10px;
                margin-bottom: 5px;
                border-radius:3px;
                color: #333;
                cursor: pointer;
                border:1px solid contrast($themeColour,10%);
                background-color:enhance($themeColour,5%);
                @include fontSize(14px);

                &:hover{

                    color:$col-river-blue;
                }
            }
        }

        .item__parameter{

            code{

                color: #8AC7FF;
            }
        }
    }

    .grid-example [class^="grid-col"], .grid-example .gridded-list, .card{

        border:1px solid contrast($themeColour,10%);
        background-color:enhance($themeColour,5%);
        color: contrast($themeColour,30%);   
    }

    @include flatTables(contrast($themeColour,65%),$themeColour);
}

.stack{

    display: block;
    background-color:$themeColour;
    border-bottom:1px  solid darken($themeColour,7%);

    &:nth-of-type(even){

        background-color: darken($themeColour,3%);
    }

}

@include formsTheme(#333,$lighter,$col-primary);
@include tabsFlat('flat',contrast($lighter,8%),$lighter);




header.sticky{

    background-color:#111213;

    $linkcols : (
        'link'    : #ddd,
        'visited' : #ddd,
        'hover'   : #ffffff,
        'active'  : #1b8898
    );

    @include linkColours($linkcols); 

    #search-docs{

        float:right;
        margin-left:20px;
        @include formsTheme(contrast(#212527,45%),enhance(#212527,15%),$col-pastel-red);

        input{

            margin-top:10px;
            padding:5px 10px;
            outline: none;
            border-top:none;
            border-left:none;
            border-right:none;
            border-bottom-style:solid;
            border-bottom-width:3px;
            @include fontSize(14);  
        }
    }
}

$codeBg  : #272F35;

#docs{

    .code{

        &.html-code{
            margin-top: 30px;
        }

        header{

            border-top:1px solid darken($codeBg,10%);
            border-right:1px solid darken($codeBg,10%);
            border-left:1px solid darken($codeBg,10%);
            border-radius:5px 5px 0 0;
            background-color: lighten($codeBg,10%);

            ul li{

                display: inline-block;

                a{
                    
                    padding:8px 15px;
                    color:#ddd;
                    display: block;
                    font-size: 0.85em;
                    cursor: pointer;
                    border-right:1px solid darken($codeBg,10%); 

                    &:hover{

                        color:white;
                    }
                }

                &:first-child a{

                    padding-left:20px;
                    border-radius:5px 0 0 0;
                }

                &.active a{

                    background-color: $codeBg;
                    box-shadow : 0 1px 0 $codeBg;
                }
            }
        }


        .scrollbar{
            @include scrollbar(darken($codeBg,10%),10px);
        }

        .code-body{

            background-color: $codeBg;
            border:1px solid darken($codeBg,10%);
            margin-bottom: 30px;
            padding:10px 20px;
            border-radius:0 0 5px 5px;
            font-size: 0.9em;

            &.scss{

                color:#FFB93A;

                .keyword{color:#FF7951;}
                .function{color:#26AAC1;}
                .punctuation{color:#dadada;}
                .selector{color:#26C160;}
                .property{color:#26AAC1;}
                .variable{color:#EA8884;}
            }

            &.css{

                color:#FF7951;

                .selector{color:#26C160;}
                .property{color:#26AAC1;}
                .punctuation{color:#dadada;}
            }

            &.html {

                color: #bbb;

                .tag{color:#FF7951;}
                .attr-name{color:#26C160;}
                .attr-value{color:#FFB93A;}
                .punctuation{color:#dadada;}
            }
        }
    }
}