@import "../node_modules/spice-sass/src/spice";


$type : "light";
$themeColour : $col-clouds;
$lighter : lighten($themeColour,5%);

$linkcols : (
    'link'    : #333,
    'visited' : #000,
    'hover'   : #289e83,
    'active'  : #1b8898
);


@mixin themeStack($themeColour){

    .stack{

        display: block;
        background-color:$themeColour;
        border-bottom:1px  solid darken($themeColour,7%);

        &:nth-of-type(even){

            background-color: darken($themeColour,3%);
        }

    }

}

@mixin themeBlockquote($border:$col-pastel-red,$bg:#f3f3f3,$rounding:5){

    //@warn "This mixin is depricated and will be removed in the next release";

    blockquote{

        padding:20px;
        background-color:$bg;
        border-left:5px solid $border;

        @if $rounding > 0 {
            border-radius:#{$rounding}px;
        }
    }
}



@include normalise;
@include headerSizes(45,20);

body{
	
    line-height: 150%;
    background-color : $themeColour;
	@include fontSize(18);
}


@include googleFont('source-sans',body textarea input button);
@include googleFont('roboto-slab', h1 h2 h3 h4 h5 h6);

h1,h2,h3,h4,h5,h6{

    color:#3B4954;
}

hr{

    display: block;
    margin: 20px 20px 40px 20px;
    height:0;
    border-left:none;
    border-right:none;
    border-top: 1px solid darken($themeColour,20%);
    border-bottom: 1px solid lighten($themeColour,20%);
    opacity: 0.3;
}

#sidebar{

    $sidebar : #283035;
    background-color:$sidebar;

    a{
        color: darken($col-clouds,25%);

        &:hover{
            color: white;
        }
    }

    @include scrollbar($sidebar);
}

#docs{
    @include linkColours($linkcols);
    @include scrollbar($themeColour);  
}

@include themeBlockquote($col-pastel-red,#f3f3f3);
@include formsTheme(#333,$lighter,$col-primary);


@include tabsFlat('flat',contrast($lighter,8%),$lighter);



@include themeStack($themeColour);
@include flatTables(contrast($themeColour,65%),$themeColour);









