@import "../node_modules/spice-sass/src/spice";


$type : "light";
$themeColour : #e9e9e9;
$lighter : lighten($themeColour,5%);

$linkcols : (
    'link'    : #333,
    'visited' : #FFF,
    'hover'   : #289e83,
    'active'  : #1b8898
);


@mixin themeStack($themeColour){

    .stack{

        display: block;
        background-color:$themeColour;
        border-bottom:1px  solid darken($themeColour,7%);

        &:nth-child(even){

            background-color: darken($themeColour,2%);
        }

    }

}

@mixin themeBlockquote($border:$col-pastel-red,$bg:#f3f3f3,$rounding:5){

    //@warn "This mixin is depricated and will be removed in the next release";

    blockquote{

        padding:20px;
        background-color:$bg;
        border-left:5px solid $border;

        @if $rounding > 0 {
            border-radius:#{$rounding}px;
        }
    }
}


@mixin headingEmphasis($colour:$col-primary,$icon:false){

    //@warn "The `headingEmphasis()` mixin will be deprecated in the next release";

    h1,h2,h3,h4,h5,h6{

        &.emph{

            line-height:1.2;
            color:$colour;
            padding-left:20px;
            border-left:5px solid $colour;

            @if $icon {

                [class^="icon-"], [class*=" icon-"]{

                    line-height: 1.7;
                    font-size: 0.8em;
                    float:right;
                }
            }
        }
    }
}

@include normalise;
@include headerSizes(45,20);

body{
	
    line-height: 150%;
    background-color : $themeColour;
	@include fontSize(18);
}


@include googleFont('open-sans',body textarea input button);

h1,h2,h3,h4,h5,h6{
	font-weight:600;
}

@include linkColours($linkcols);
@include headingEmphasis($col-pastel-red,true);
@include themeBlockquote($col-pastel-red,#f3f3f3);

@include formsTheme(#333,$lighter,$col-primary);


@include tabsFlat('flat',contrast($lighter,8%),$lighter);

.scrollbar{
	@include scrollbar($themeColour);
}

@include themeStack($themeColour);
@include flatTables(contrast($themeColour,65%),$themeColour);
@include themeRangeInput($themeColour,darken($themeColour,20%),$col-primary);


@include doughnut('primary',$col-primary,3px,#ccc,#111);
@include doughnut('secondary',$col-secondary,3px,#ccc,#111);
@include doughnut('warning',$col-warning,3px,#ccc,#111);
@include doughnut('danger',$col-danger,3px,#ccc,#111);
@include doughnut('submit',$col-success,3px,#ccc,#111);

#docs-wrapper{

    @include verticalNav(#637F7D,#fff,$col-primary);
}

$cols : (
	"red":#e7534f,
	"blue":#1b8898,
	"green":#54A03A,
	'yellow':#D8BE2E,
	'orange':$col-warning,
	'violet' : #9E6FB5
);

@include palette($cols);

.contrast{

	color: contrast($themeColour,60%);
}

header.sticky{

	background-color: #111;
	color:#eee;
}

@include themeCardClass(lighten($themeColour,5%),#ddd,$col-primary);

.grid-block, .masonry-item, .grid-example, .icon-holder, .example{
	
	@extend .card;
}


@include paginationFlat('flat',#f3f3f3);


