@import "../node_modules/spice-sass/src/spice";

$type : "dark";
$themeColour : #1C2227;
$darker : darken($themeColour,5%);
$lighter : lighten($themeColour,5%);
$contrast :contrast($themeColour,60%); 

$linkcols : (
    'link'    : #333,
    'visited' : #FFF,
    'hover'   : #289e83,
    'active'  : #1b8898
);

@mixin themeStack($themeColour){

    .stack{

        display: block;
        background-color:$themeColour;
        border-bottom:1px  solid darken($themeColour,7%);

        &:nth-child(even){

            background-color: darken($themeColour,2%);
        }

    }

}


@mixin headingEmphasis($colour:$col-primary,$icon:false){

    //@warn "The `headingEmphasis()` mixin will be deprecated in the next release";

    h1,h2,h3,h4,h5,h6{

        &.emph{

            line-height:1.2;
            color:$colour;
            padding-left:20px;
            border-left:5px solid $colour;

            @if $icon {

                [class^="icon-"], [class*=" icon-"]{

                    line-height: 1.7;
                    font-size: 0.8em;
                    float:right;
                }
            }
        }
    }
}

@include normalise;
@include headerSizes(45,20);

body{
	
    background-color : $themeColour;
	@include fontSize(18);
}

@include googleFont('roboto-slab',h1 h2 h3 h4 h5 h6 button,300);
@include googleFont('roboto',body textarea,300);
@include linkColours($linkcols);
@include headingEmphasis($col-primary,true);
@include themeBlockquote($col-primary,darken($themeColour,5%));

@include formsTheme($contrast,$darker,$col-secondary);

@include themeNavigation("main",#111,#000,#aaa,white);
@include themeNavigation("page-nav",darken($themeColour,2%),darken($themeColour,5%),white,white);

.scrollbar{
	@include scrollbar($themeColour);
}

@include themeStack($themeColour);
@include flatTables(contrast($themeColour,65%),$themeColour);
@include themeRangeInput($themeColour,lighten($themeColour,20%),$col-secondary);
@include linedTabs(#000,$darker);

@include tabsFlat('flat',contrast($darker,8%),$darker);

$cols : (
	"red":#e7534f,
	"blue":#1b8898,
	"green":#54A03A,
	'yellow':#D8BE2E,
	'orange':$col-warning,
	'violet' : #9E6FB5
);

@include palette($cols);

@include doughnut('primary',$col-primary,10px,$darker,white);
@include doughnut('secondary',$col-secondary,10px,$darker,white);
@include doughnut('warning',$col-warning,10px,$darker,white);
@include doughnut('danger',$col-danger,10px,$darker,white);
@include doughnut('submit',$col-success,10px,$darker,white);


.contrast{

	color: contrast($themeColour,60%);
}

header.sticky{

	background-color: #111;
	color:#eee;
}

@include themeCardClass(lighten($themeColour,5%),darken($themeColour,6%),$col-secondary);

.grid-block, .masonry-item, .grid-example, .icon-holder{
	
	@extend .card;
}

@include paginationFlat('flat',$darker);
