@import "../../node_modules/sass-includes/sass/includes";

$type : "light";
$themeColour : #F2EAD5;
$darker : darken($themeColour,7%);
$lighter : lighten($themeColour,5%);
$contrast :contrast($themeColour,60%); 


@mixin themeStack($themeColour){

    .stack{

        display: block;
        background-color:$themeColour;
        border-bottom:1px  solid darken($themeColour,7%);

        &:nth-child(even){

            background-color: darken($themeColour,2%);
        }

    }

}

@mixin headingEmphasis($colour:$col-primary,$icon:false){

    //@warn "The `headingEmphasis()` mixin will be deprecated in the next release";

    h1,h2,h3,h4,h5,h6{

        &.emph{

            line-height:1.2;
            color:$colour;
            padding-left:20px;
            border-left:5px solid $colour;

            @if $icon {

                [class^="icon-"], [class*=" icon-"]{

                    line-height: 1.7;
                    font-size: 0.8em;
                    float:right;
                }
            }
        }
    }
}

@include normalise;
@include headerSizes(45,20);

body{
	
	@include fontSize(18);
}

@include themeBase($themeColour);
@include googleFont('quicksand',h1 h2 h3 h4 h5 h6,400);
@include googleFont('roboto-slab',body textarea button);
@include themeTypography($themeColour,#7e6a5e,#833D3D);
@include themeLinks;
@include headingEmphasis($col-pastel-red,true);
@include themeBlockquote($col-pastel-red,darken($themeColour,5%));

@include formsTheme(#833D3D,$lighter,orange);

@include themeNavigation("main",#111,#000,#aaa,white);
@include themeNavigation("page-nav",lighten($themeColour,5%),#fff,#833D3D,#111);

.scrollbar{
	@include scrollbar($themeColour);
}


@include themeStack($themeColour);
@include themeTables($themeColour);
@include themeRangeInput($themeColour,lighten($themeColour,20%),orange);

@include linedTabs($darker,$lighter);

@include messageClass(10px,5);
@include themeMessageClass('info', $col-secondary);
@include themeMessageClass('warning', $col-warning);
@include themeMessageClass('danger', $col-danger);
@include themeMessageClass('success', $col-success);
@include tabsFlat('flat',contrast($lighter,8%),$lighter);

$cols : (
	"red":#e7534f,
	"blue":#1b8898,
	"green":#54A03A,
	'yellow':#D8BE2E,
	'orange':$col-warning,
	'violet' : #9E6FB5
);

@include palette($cols);

@include doughnut('primary',$col-primary,3px,$darker,#111);
@include doughnut('secondary',$col-secondary,3px,$darker,#111);
@include doughnut('warning',$col-warning,3px,$darker,#111);
@include doughnut('danger',$col-danger,3px,$darker,#111);
@include doughnut('submit',$col-success,3px,$darker,#111);

.contrast{

	color: contrast($themeColour,60%);
}

header.sticky{

	background-color: #111;
	color:#eee;
}

@include themeCardClass(lighten($themeColour,5%),darken($themeColour,7%));

.grid-block, .masonry-item, .grid-example, .icon-holder{
	
	@extend .card;
}

@include paginationFlat('flat',$lighter,orange);
