@import "../node_modules/spice-sass/src/spice";

.grid-example{

	padding:45px 0;
	min-height:30px;
	margin-bottom:20px;
	position:relative;
	border-radius: 5px;

	span{

		font-size: 0.8em;
	}
}

//app specific
@mixin paddedClass($ammount:20px){

    .padded{

        padding: $ammount;

        h1,h2,h3,h4,h5,h6,p{

            &:last-child{

                margin-bottom: 0;
            }
        }
    }
}

@mixin stackClass($padding:40){
    
    .stack{

        @if $padding > 0{
            padding:#{$padding}px 0 ;
        }
        
        min-height: 1%;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}






@include gradientButton('grad-light',#f3f3f3,10%,60%);
@include gradientButton('grad-dark',#282828,5%,60%);
@include gradientButton('grad-slate',#25333E,5%,60%);
@include gradientButton('grad-vanilla',#FFC458,10%,40%);
@include gradientButton('grad-primary',$col-primary);
@include gradientButton('grad-secondary',$col-secondary);
@include gradientButton('grad-warning',$col-warning);
@include gradientButton('grad-danger',$col-danger);
@include gradientButton('grad-submit',$col-success);

@include flatButton('flat-light',#f3f3f3,5px,60%);
@include flatButton('flat-dark',#282828,5px,60%);
@include flatButton('flat-slate',#25333E,5px,60%);
@include flatButton('flat-vanilla',#FFC458,5px,40%);
@include flatButton('flat-primary',$col-primary);
@include flatButton('flat-secondary',$col-secondary);
@include flatButton('flat-warning',$col-warning);
@include flatButton('flat-danger',$col-danger);
@include flatButton('flat-submit',$col-success);

@include roundedButton('round-light',#f3f3f3,20px,60%);
@include roundedButton('round-dark',#282828,20px,60%);
@include roundedButton('round-slate',#25333E,20px,60%);
@include roundedButton('round-vanilla',#FFC458,20px,40%);
@include roundedButton('round-primary',$col-primary);
@include roundedButton('round-secondary',$col-secondary);
@include roundedButton('round-warning',$col-warning);
@include roundedButton('round-danger',$col-danger);
@include roundedButton('round-submit',$col-success);

@include containerClass(1100px);

.fullscreen{
	@include fullScreen;
}

@include centreClasses;
@include gridClasses;
@include googleFont('leckerli-one');

@include formRounded(12px);
@include formLined(6px,15px 20px,18);
@include rangeInput;


@include fadeIn;
@include pulse;

@include slideIn("left",40);
@include slideIn("right",40);
@include slideIn("up",20);
@include slideIn("down",20);

@include rotateIn(10);
@include flipClass(y);

@include cardClass;
@include paddedClass; 
@include masonryColumns;

@import "components/header/header";
@import "views/index";
@import "components/footer/footer";
@import "views/documentation";
@import "views/examples";
@import "views/tickets";

.columns{

	@include textColumns(3);
}

#test{

	padding:80px 0;

	min-height: 100vh;
}

@include lineIcons;
@include blockIcons;
@include gitIcons;