@import "../node_modules/spice-sass/src/spice";

//app specific
@mixin paddedClass($ammount:20px){

    .padded{

        padding: $ammount;

        h1,h2,h3,h4,h5,h6,p{

            &:last-child{

                margin-bottom: 0;
            }
        }
    }
}

@mixin stackClass($padding:40){
    
    .stack{

        @if $padding > 0{
            padding:#{$padding}px 0 ;
        }
        
        min-height: 1%;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

@include containerClass(1100px);

.fullscreen{
	@include fullScreen;
}

@include centreClasses;
@include gridClasses;
@include griddedList(3);
@include googleFont('leckerli-one');

@include cardClass;
@include paddedClass; 
@include masonryColumns;

@import "components/header/header";
@import "components/home/home";
@import "components/footer/footer";
@import "components/docs/docs";

#test{

	padding:80px 0;

	min-height: 100vh;
}

@include lineIcons;
@include blockIcons;
@include gitIcons;