//DEv 
// #intro-pane, #installation, #features{

// 	opacity:0;
// }

h2.centred span{

	$width : 150px;

    position:relative;

    &:before{
        
        content: "";
        width:$width;
        left:-($width + 20px);
        height: 1px;
        @include centre(y);
    }

    &:after{
        
        content: "";
        width:$width;
        right:-($width + 20px);
        height: 1px;
        @include centre(y);
    }
}

#intro-pane{

	.centre-y{

		padding:0 20px;
	}

	#main-logo{
	    max-width: 350px;
	    margin: 0 auto;
	}

	#strap{

		text-transform: uppercase;
		font:{
			size:1.2em;
		}

		@include breakPoint(560px){
			font-size: 1em;
		}
	}

	a{
		text-decoration: none;
	}
}

#installation{

	padding:100px 0;

	h2{	
		text-align:center;
	}

	.code-demo{

		display: block;
		padding:10px;
		border-radius:5px;
		color:#BECFDC;
		background-color:$col-wet-asphalt;
		border:1px solid $col-midnight-blue;

		.import{
			color:$col-alizarin;
		}
		.string{
			color:$col-sunflower;
		}
	}

	@include breakPoint(650px){

		h2{
			@include fontSize(26px);
		}

		h5{
			@include fontSize(20px);
		}
	}
}

#features{

	padding:100px 0;

	h2{	
		text-align:center;
	}

	@include griddedList(4,12,5%);

	.feature{

		h3{

			text-align: center;
			@include fontSize(22px);
		}

		p{
			text-align: justify;
			@include fontSize(16px);
		}

	}

	@include breakPoint(850px){
	
		@include griddedList(2,12,5%);
	}
}

@import "preview";
@import "animations";