
@include doughnut('primary',$col-primary,10px,#ccc,#111);
@include doughnut('secondary',$col-secondary,10px,#ccc,#111);
@include doughnut('warning',$col-warning,10px,#ccc,#111);
@include doughnut('danger',$col-danger,10px,#ccc,#111);
@include doughnut('submit',$col-success,10px,#ccc,#111);

@include paginationFlat('flat',#f3f3f3);

@include fadeIn($rush,1s);
@include pulse;
@include slideIn("left",100,$rush,1s);
@include slideIn("right",100,$rush,1s);
@include slideIn("up",50,$rush,1s);
@include slideIn("down",50,$rush,1s);
@include slideOut("left",100,$rush,1s);
@include slideOut("right",100,$rush,1s);
@include slideOut("up",50,$rush,1s);
@include slideOut("down",50,$rush,1s);
@include rotateIn(10);
@include flipClass(y);

@include switch('green',$col-success);

@include masonryColumns(500px);

@include formRounded(12px);
@include formLined(6px,15px 20px,18);
@include rangeInput;

@include tooltip('top',20px);
@include tooltip('bottom',20px);
@include tooltip('left');
@include tooltip('right');

@include gradientButtonGroup('gradient',#2671A2);
@include flatButtonGroup('flat',#2671A2);

#docs{

	@include verticalNav(#333,$col-belize-hole,$col-belize-hole);
}


.nav-holder{

	background-color:darken($col-clouds,2%);
	width:320px;
}

.tooltip{

	color:$col-belize-hole;
	font-weight:600;

	.tooltip-body{
		font-weight: normal;
	}
}

.grid-example [class^="grid-col"], .grid-example .gridded-list{

	padding:20px;
    margin-bottom: 20px;
    border-radius: 5px;

    span{
        text-align:center;
        display: block;
        @include fontSize(14px);
    }
}

