@import "../../../../node_modules/spice-sass/src/spice";

$headerHeight : 65px;
$sidebarWidth : 270px;

$col-sideBar   : #1C2227;
$col-mainPanel : #2C3440; //light version - #C3C7D0


@include normalise;
@include containerClass(1100px);
@include googleFont('open-sans-condensed',h1 h2 h3 h4 h5 h6,600);
@include googleFont('roboto',body textarea button,100);
@include formLined(4px,10px 20px,16);

$form-text : contrast($col-mainPanel,65%);
$form-bg   : enhance($col-mainPanel,10%);
$form-line : $col-secondary;
@include formsTheme($form-text,$form-bg,$form-line);

body{

	color:#e9e9e9;
}

.clearfix{

	@include clearFix;
}

#dashboard{

	@include fullScreen;

	.badge.blue{
		@include badge($col-secondary,12);
	}

	.badge.turquoise{
		@include badge($col-primary,12);
	}

}

#side-bar{

	background-color:$col-sideBar;
	@include scrollbar($col-sideBar);
	@include sideBar($sidebarWidth);
	@include verticalNav(#637F7D,enhance($col-sideBar,4%),white);

	.badge{

		right:10px;
		top:18px;
		position:absolute;
		z-index: 99;
	}

	#dash-logo{

		height:$headerHeight;
		padding: 0 20px;
		background:enhance($col-sideBar,7%);

		h1{

			letter-spacing: 5px;
			text-transform: uppercase;
			font-weight: 100;
			margin-bottom: 0;
			line-height:$headerHeight;
			@include fontSize(24);
		}

	}

	#user-bar{

		padding:20px;
		background:enhance($col-sideBar,4%);
		@include clearFix;

		img{

			float: left;
			border-radius: 100%;
			margin-right: 10px;
		}

		h2{

			margin:10px 0 5px 0;
			@include fontSize(16);
		}

		h3{
			@include fontSize(12);
		}
	}
}

#main{

	background-color:$col-mainPanel;

	header{

		height:$headerHeight;
		background:enhance($col-mainPanel,5%);
		padding:0 30px; 
		@include fitContainer(0 0 auto 0);

		form{

			input{
				
				margin-top: 10px;
				max-width: 300px;
			}
		}
	}

	h1,h2,h3,h4,h5,h6{
		color:contrast($col-mainPanel,65%);
	}

	p{
		color:contrast($col-mainPanel,55%);
	}

	padding: ($headerHeight+30px) 30px 30px 30px;
	@include scrollbar($col-mainPanel);
	@include sideBarAppend($sidebarWidth);
	@include doughnut('blue',$col-secondary,15px,$col-mainPanel,contrast($col-mainPanel,55%));

	#chart, #stats{

		margin-bottom: 30px;
	}

	.panel{

		background:enhance($col-mainPanel,3%);

		.panel-header{

			padding:15px 20px;
			border-bottom:1px solid $col-mainPanel;
			
			h1,p{

				margin-bottom: 0;
			}
		}

		.panel-body{

			padding:20px;
		}

		&.wide{

			@include gridColumns(7);
		}

		&.narrow{

			@include gridColumns(5);
		}

		&:last-child{

			margin-right: 0;
		}

	}

	.notification{

		padding:10px 20px;

		.index{
			
			float: left;
			background-color:enhance($col-mainPanel,10%);
			color:contrast($col-mainPanel,20%);
			padding:5px;
			border-radius:3px;
			margin-right: 10px;
			@include fontSize(14);
		}

		p{

			margin-bottom: 3px;
			@include fontSize(14);

			&.from{

				margin-right: 10px;
				font-weight: 600;
				float: left;
			}
		}

		border-bottom:1px solid $col-mainPanel;

	}

	.stat{

		text-align:center;
		background:enhance($col-mainPanel,3%);
		@include gridColumns(4);

		.badge{

			position: absolute;
			top:10px;
			right:10px;
		}

		.figure{

			margin-bottom: 0;
			padding:20px 0;
			color:contrast($col-mainPanel,65%);
			@include fontSize(50);
		}

		.summary{

			margin-bottom: 0;
			padding:10px 0;
			background:enhance($col-mainPanel,6%);
			@include fontSize(14);
		}

		&:last-child{

			margin-right: 0;
		}
	}
}

@include slideIn("right",70);
@include blockIcons;
