<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	{% block title %}
		<title>Default title</title>
	{% endblock %}
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/themes/light.css" />
	{% endblock %}
</head>
  <body>
  	{% include '../components/header/header.twig' %}
  	<div id="example-body">
    	{% block content %}{% endblock %}
    </div>
    {% block footerScript %}
  	{% endblock %}
  </body>
</html>