<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	{% block title %}
		<title>Default title</title>
	{% endblock %}
	<link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/themes/light.css" />
</head>
  <body>
    {% include '../components/header/header.twig' %}
    {% block content %}{% endblock %}
    {% block footerScript %}
  	{% endblock %}
  </body>
</html>