#themed-examples{

	padding:100px 0;
	@include griddedList(3,12,5%,600px);
	//opacity:0;


	.example{

		text-align: center;

		img{

			border-radius:10px;
			max-width:100%;
			margin-bottom:20px;
		}

		h3{

			@include fontSize(20px);
		}

		p{

			@include fontSize(16px);
		}

		a{
			text-decoration: none;
		}
	}
}

#animations{

	padding:100px 0;

	#main-logo{

		text-align: center;
		padding:40px;
		border-radius:10px;
		margin-bottom: 30px;

		svg{

			max-width: 350px;
			margin: 0 auto;
		}
	}

	h6{

		margin-bottom: 10px;
	}

	.button-group{

		margin-bottom: 30px;
	}

	.grabber{

		margin-right: 20px;
	}

	#anim-list{

		display: none;

		@include breakPoint(810px,'min'){
			display: block;
		}
	}
}

#icons{

	padding:100px 0;

	.icon-example{

		display: inline-block;
		padding:15px;
		margin: 7px;
		position: relative;
		cursor: pointer;
		@include fontSize(22px);

		.tooltip-body{

			width:120px;
			padding:12px;
			background:#000;
			z-index:999;
			display: none;
			text-align:center;
			color:#999;
			border-radius:5px;
			@include centre(x);
			@include fontSize(12px);

			&:before{
				
				content:"";
				top:-8px;
				@include centre(x);
				@include arrow(8px,'up',#000,1);
			}
		}


		&:hover{

			.tooltip-body{

				display: block;
			}
		}
	}
}