@import "../../../../node_modules/spice-sass/src/spice";
@import "../../../components/header/header";

header.sticky{

	background-color:#111113;

    $linkcols : (
        'link'    : #ddd,
        'visited' : #ddd,
        'hover'   : #ffffff,
        'active'  : #1b8898
    );

    @include linkColours($linkcols); 
}

#example-body{
	@include fitContainer(50px 0 0 0);
}

/// Example start --- 

$bgCol : $col-clouds;
$slideFrames : (
	0%   : "scale(1) translateY(0)",
	100% : "scale(0.8) translateY(50px)"
);

@include normalise;
@include containerClass(1100px);
@include googleFont('pacifico',h1);
@include googleFont('source-sans',body textarea button);
@include formLined(5px,15px 20px,16px);
@include formsTheme(contrast($bgCol,55%),white,$col-alizarin);
@include flatButton('flat-submit',#54A03A);
@include blockIcons;
@include lineIcons;
@include slideIn('down',50,$warpspeed,0.3s);
@include slideIn('up',100,$bounce,0.8s);
@include fadeIn($bounce);
@include transformKeyframes('slideAway',$slideFrames,'fadeOut');


#example-body{

	background-color:$bgCol;
	overflow:hidden;
}

#login{

	$max-width : 550px;
	padding    : 50px 20px;
	border-radius:10px;

	h1{

		text-align: center;
		margin-bottom: 15px;
		color:$col-alizarin;
		@include fontSize(60px);
	}

	.strap{

		text-align: center;
		letter-spacing: 2px;
		color:contrast($bgCol,55%);
		@include fontSize(16px);
	}


	@include breakPoint($max-width,'min'){
		
		width: $max-width;
		@include centre;
	}

	form.slide-away{
		@include animation('slideAway',$warpspeed,0.7s);
	}

	label{
		color:contrast($bgCol,55%);
	}

	label.error, .error-msg {

		font-style: italic;
		color:$col-alizarin;
	}

	button{

		float: right;
	}

	.success-message{

		min-height: 220px;

		i{

			display: block;
			text-align: center;
			margin: 20px 40px;
			color:contrast($bgCol,15%);
			@include fontSize(90px);
		}

		h5{

			text-align: center;
			color:contrast($bgCol,55%);
			@include fontSize(24px);
		}
	}
}