$sidebarWidth : 280px;
$break : 750px;


#docs-wrapper{

	@include fitContainer(50px 0px 0px);	
}

#sidebar{

	@include sideBar($sidebarWidth);
	@include vendorPrefix(transition,'all,ease,0.4s');


	ul{

		margin-bottom: 20px;
		@include fontSize(14px);

		li a{

			display: block;
			padding:0 20px;
			line-height: 40px;
			text-decoration: none;
			cursor: pointer;

			&.active{
				color:$col-river-blue;
			}

		}

		li.hide{
			display: none;
		}
	}

	.subnav li a{

		padding-left:30px;
		@include vendorPrefix(transition,'all,ease,0.4s');
	}

	@include breakPoint($break){
		
		left:-$sidebarWidth;
		z-index: 999;

		&.open{

			left:0;
		}
	}
}

#docs{

	padding:0 30px;
	@include sideBarAppend($sidebarWidth);
	

	.include-block{

		padding-top: 30px;
	}

	.mixin, .func{

		padding-top: 30px;
		margin-bottom: 50px;
		@extend .grid-row;

	}

	hr{

		@extend .grid-row;
	}

	table{

		font-size: 0.85em;
		margin-bottom: 30px;

		.visually-hidden{

			display: none;
		}

		.item__parameter{

			th,td{

				font-weight:normal;
				border-top-width:1px;
				border-style: solid;
			}

			code{

				color: $col-primary;
			}
		}
	}

	@include breakPoint($break){

		left:0;
		padding:0 15px;

		@include headerSizes(30,18);
		@include fontSize(16);


		table, tbody, tr, td {
		    display: block;
		    @include fontSize(14);
		}

		td{

			border-style: none;
		}

		th{
			display: none;
		}

		tr{
			border-top-width:1px;
			border-style: solid;
		}
	}

	.code{

		$codeBg  : #272F35;

		&.html-code{
			margin-top: 30px;
		}

		header{

			border-top:1px solid darken($codeBg,10%);
			border-right:1px solid darken($codeBg,10%);
			border-left:1px solid darken($codeBg,10%);
			border-radius:5px 5px 0 0;
			background-color: lighten($codeBg,10%);

			ul li{

				display: inline-block;

				a{
					
					padding:8px 15px;
					color:#ddd;
					display: block;
					font-size: 0.85em;
					cursor: pointer;
					border-right:1px solid darken($codeBg,10%); 

					&:hover{

						color:white;
					}
				}

				&:first-child a{

					padding-left:20px;
					border-radius:5px 0 0 0;
				}

				&.active a{

					background-color: $codeBg;
					box-shadow : 0 1px 0 $codeBg;
				}
			}
		}


		.scrollbar{
			@include scrollbar(darken($codeBg,10%),10px);
		}

		.code-body{

			background-color: $codeBg;
			border:1px solid darken($codeBg,10%);
			margin-bottom: 30px;
			padding:10px 20px;
			border-radius:0 0 5px 5px;
			font-size: 0.9em;
			

			&.scss{

				color:#FFB93A;

				.keyword{color:#FF7951;}
				.function{color:#26AAC1;}
				.punctuation{color:#dadada;}
				.selector{color:#26C160;}
				.property{color:#26AAC1;}
				.variable{color:#EA8884;}
			}

			&.css{

				color:#FF7951;

				.selector{color:#26C160;}
				.property{color:#26AAC1;}
				.punctuation{color:#dadada;}
			}

			&.html {

				color: #bbb;

				.tag{color:#FF7951;}
				.attr-name{color:#26C160;}
				.attr-value{color:#FFB93A;}
				.punctuation{color:#dadada;}
			}
		}
	}

	.doughnut-example{

		display: inline-block;
		margin-left-right:20px;
		position: relative;
	}

	.google-fonts{

		margin-bottom: 30px;

		ul li{

			margin-left: 30px;
			list-style:square;
			@include fontSize(16);
		}
	}

	#docs-container{

		//opacity: 0;
		@include vendorPrefix(transition,'all,ease,0.2s');

		&.show{

			opacity: 1;
		}
	}

	.mixin-links{

		@include clearFix;

		li{

			@include gridColumns(4);
			&:nth-child(3n + 3){
				margin-right: 0;
			}

			a{

				display: block;
				padding:5px 10px;
				margin-bottom: 5px;
				border-radius:3px;
				border:1px solid #ddd;
				background-color:#f3f3f3;
				@include fontSize(14px);
			}
		}
	}
}



