{% extends '../layouts/main.twig' %}
{% block title %}
	<title>{{siteTitle}}</title>
{% endblock %}

{% block content %}
  	<section class="fullscreen stack" id="pane-1">
		
		<div class="centre-y text-centre">
			<img src="/img/spice-logo.svg" width="380" alt="Spice" title="Spice" />
			<h2 id="strap" class="roboto-slab slide-in-up contrast">Add a little spice to your UI</h2>
			<a href="#installation" class="button large flat-secondary block-icon-open-book slide-in-right">Installation</a>
			<a href="/documentation#getting-started" class="button large flat-primary block-icon-open-book slide-in-left">View Docs</a>
			<p class="slide-in-up">Version {{version}}</p>
		</div>
		
	</section>

	<section class="stack" id="installation">
			
			<div class="container">

				<div class="grid-row">

					<div class="grid-col-8 grid-col-indent-2">

						<h2 class="red"><span>Installation &amp; Usage</span></h2>
						<p>Spice is available for download via npm or bower</p>

						<h5>npm</h5>
						<p class="code-demo">
							npm install spice-sass
						</p>

						<h5>Bower</h5>
						<p class="code-demo">
							bower install spice-sass
						</p>

						<p>
							Once installed you can import spice into your main scss file.
							<strong>Note:</strong> the import must be relative to your 
							node_modules/bower_components folder dependent on your chosen
							method of installation. E.g. for a node installation:
						</p>

						<p class="code-demo">
							@import "../node_modules/spice-sass/src/spice";
						</p>

					</div>
	
				</div>

		</div>

	</section>
	{% include '../components/footer/footer.twig' %}
{% endblock %}


